<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    .rowBox {
      display: flex;
      justify-content: space-between;
    }

    .big {
      width: 180px;
      height: 300px;
    }

    .box {
      position: relative;
      margin-top: 10px;
    }

  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <h2>단수 위기 대응 플랫폼</h2>
    <p style="font-size: 12pt">단수가 발생된 위치를 기반으로 검색된 위치와 같이 판단해 위기상태를 제공한다.</p>
  </div>
  <div class="row" style="align-items: end">
    <div class="col-md-3">
      <button type="button" class="btn btn-default btn-lg" id="inventory">식수 재고 등록</button>
    </div>
  </div>
  <div class="box">
    <div class="row rowBox">
      <div class="">
        <button type="button" class="btn btn-danger btn-lg big" id="receipt">접수 하기</button>
      </div>
      <div class="">
        <button type="button" class="btn btn-info btn-lg big" id="search">검색 하기</button>
      </div>
    </div>
  </div>
</div>
<script>
  const search = document.querySelector("#search"),
      receipt = document.querySelector("#receipt"),
      inventory = document.querySelector("#inventory");

  receipt.addEventListener("click", function () {
    location.href = '/receipt.html';
  })

  search.addEventListener("click", function () {
    location.href = '/search.html';
  });

  inventory.addEventListener("click", function () {
    location.href = '/inventory.html';
  });
</script>
</body>
</html>
