<!DOCTYPE html>
<html lang="en">
<head>
  <title>단수 위기 대응 플랫폼</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="//s1.daumcdn.net/svc/original/U03/cssjs/jquery/jquery-1.11.0.js"></script>
  <script type='text/javascript'
          src='https://dapi.kakao.com/v2/maps/sdk.js?appkey=5a6df184cdd9353147de78f77f079b42&libraries=services,clusterer,drawing'></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="index.html">
    <img src="http://112.216.10.82:15001/static/media/logo.3879815a89feedf9010e399db1db06d6.svg" width="150px" height="50px"/>
  </a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="receipt.html">접수 하기</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="inventory.html" >식수 재고 등록</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mineral.html">약수터 정보</a>
    </li>
  </ul>
</nav>
<div class="container-fluid" style="margin-top:100px">
  <h3>식수 재고 수량 등록하기.</h3>
  <div class="row">
    <div class="col-md-12">
      <form>
        <div class="form-group">
          <label for="name">지점명:</label>
          <input type="text" class="form-control" id="name" placeholder="지점명을 입력해 주세요.">
        </div>
        <div class="form-group">
          <label for="count">재고 수량:</label>
          <input type="text" class="form-control" id="count" placeholder="식수의 재고 수량을 입력해 주세요.">
        </div>
        <button type="submit" class="btn btn-success">저장</button>
      </form>
    </div>
  </div>
  <hr/>
  <div class="container-fluid">
    <h2>식수 재고 현황</h2>
    <table id="inventoryList" class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th>지점명</th>
        <th>재고 수량</th>
        <th>등록일자</th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>
<script>
  const receiptForm = document.querySelector('form');

  var geocoder = new kakao.maps.services.Geocoder();

  const transXY = function(target, name, date){
    geocoder.addressSearch(target.value, function(result, status) {

      // 정상적으로 검색이 완료됐으면
      if (status === kakao.maps.services.Status.OK) {
        postFetch(target.value, result[0].y, result[0].x, name.value, date);
      }
    });
  }

  function postFetch(date, name, count){
    fetch('http://223.130.129.189:9999/api/v1/input/tool/schema/data/add?tableName=inventory&transferedDataYn=false&userId=ytkim.develop', {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        stats_dttm: date,
        inventory_name: name.value,
        inventory_count: count.value
      })
    })
    .finally(function (){
      alert('저장되었습니다.');
      reloadData();
    });
  }

  function dateFormat(date) {
    let dateFormat2 = date.getFullYear() + "" +
        ( (date.getMonth()+1) < 9 ? "0" + (date.getMonth()+1) : (date.getMonth()+1) )+
        ( (date.getDate()) < 9 ? "0" + (date.getDate()) : (date.getDate()) )
    ;
    return dateFormat2;
  }

  let toDay = dateFormat(new Date());

  receiptForm.addEventListener('submit', event => {
    event.preventDefault(); // *
    postFetch(toDay, event.target[0], event.target[1]);
  });
</script>

<script>
  function dateFormat(date){
    return date.substring(0,4) + '.' + date.substring(4,6) + '.' + date.substring(6,8)
  }
  function reloadData() {
    $.get(
        "http://223.130.129.189:9999/api/v1/produce/schema/data/List?userId=ytkim.develop&tableName=inventory&pageNumber=1&pageSize=1000&transferedDataYn=false",
        function (data) {
          var table = document.getElementById("inventoryList").getElementsByTagName("tbody")[0];
          table.innerHTML = "";
          $(data.result).map(function (i, position) {

            var row = table.insertRow(i);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);

            cell1.innerHTML = position.inventory_name;
            cell2.innerHTML = position.inventory_count;
            cell3.innerHTML = dateFormat(position.stats_dttm);

          });
        });
  }
  reloadData();
</script>
</body>
</html>
