<!DOCTYPE html>
<html lang="en">
<head>
  <title>단수 위기 대응 플랫폼</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <h3>식수 공급 가능한 위치 찾기.</h3>
  <div class="d-flex flex-row-reverse">
    <p class="text-danger">※식수 재고 수량은 일자별 단위로 조회됩니다.</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group">
        <input id="input" type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-dark" type="submit" id="search">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:10px">
    <div class="col-md-12">
      <div id="map" class="tp-50">
      </div>
    </div>
  </div>
</div>
<script>
  const btn = document.querySelector("#search"),
      input = document.querySelector("#input"),
      map = document.querySelector("#map");

  btn.addEventListener("click", function () {
    map.innerHTML = "";
    const iframe = document.createElement('iframe');
    if(input.value != undefined){
      iframe.src = '/api/geoLocation/' + input.value;
    }else {
      iframe.src = '/api/geoLocation';
    }
    iframe.width = '100%';
    iframe.height = '500px';
    iframe.frameBorder = "0";
    iframe.marginWidth = "0";
    iframe.marginHeight = "0";
    iframe.scrolling = "no";
    map.appendChild(iframe);
  })

  input.addEventListener("keyup", function (e) {
    if(e.keyCode && e.keyCode == 13){
      e.preventDefault();
      btn.click();
    }
  });

  $(function(){
    $("#search").click();
  })
</script>
</body>
</html>
